<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= data.websiteTitle %></title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/main.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="..." /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                       <%= data.realName %>
                    </h1>
                    <div class="subheading mb-5">
                        <a><%= data.publicMail %></a>
                    </div>
                    <p class="lead mb-5"><%= data.aboutText %></p>
                    <div class="social-icons">
                        <% if(data.linkednLink) { %>
                        <a class="social-icon" href=<%=data.linkednLink %>><i class="fab fa-linkedin-in"></i></a>
                        <% } %>
                        <% if(data.githubLink) { %>
                        <a class="social-icon" href= <%=data.githubLink %>  ><i class="fab fa-github"></i></a>
                        <% } %>
                        <% if(data.twitterLink) { %>
                        <<a class="social-icon" href=<%=data.twitterLink %>><i class="fab fa-twitter"></i></a>
                        <% } %>
                        <% if(data.facebookLink) { %>
                        <a class="social-icon" href=<%=data.facebookLink %>><i class="fab fa-facebook-f"></i></a>
                        <% } %>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <% data.experiences.forEach(experience => { %>
                            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0"><%= experience.title %></h3>
                            <div class="subheading mb-3"><%= experience.smalltitle %></div>
                            <p><%= experience.despriction %></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"><%= experience.date %></span></div>
                    </div>
                        <%  }); %>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                     <% data.educations.forEach(education => { %>
                              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0"><%= education.title %></h3>
                            <div class="subheading mb-3"><%= education.smalltitle %></div>
                            <div><%= education.despriction %></div>
                            <p><%= education.gpa %></p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"><%= education.date %></span></div>
                    </div>
                        <%  }); %>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                         <% if(data.html) { %>
                            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <% } %>
                         <% if(data.css) { %>
                            <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <% } %>
                         <% if(data.javascript) { %>
                            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <% } %>
                         <% if(data.angular) { %>
                            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
                        <% } %>
                         <% if(data.react) { %>
                        <li class="list-inline-item"><i class="fab fa-react"></i></li>
                        <% } %>
                         <% if(data.nodejs) { %>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <% } %>
                         <% if(data.less) { %>
                        <li class="list-inline-item"><i class="fab fa-less"></i></li>
                        <% } %>
                         <% if(data.wordpress) { %>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        <% } %>
                         <% if(data.gulp) { %>
                        <li class="list-inline-item"><i class="fab fa-gulp"></i></li>
                        <% } %>
                         <% if(data.grunt) { %>
                        <li class="list-inline-item"><i class="fab fa-grunt"></i></li>
                        <% } %>
                         <% if(data.npm) { %>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                        <% } %>

                    </ul>
                    <div class="subheading mb-3">Workflow</div>
                    <ul class="fa-ul mb-0">
                          <% data.skillsWorkflow.forEach(skill => { %>
                            <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                           <%= skill %>
                        </li>
                        <%  }); %>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p class="mb-0"><%= data.interestText %></p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Awards & Certifications</h2>
                    <ul class="fa-ul mb-0">
                        <% data.awards.forEach(award => { %>
                            <li>
                            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            <%= award %>
                          </li>
                        <%  }); %>
                    </ul>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
